body {
    font-family: 'Quicksand', sans-serif;
    color: #1c1c1c;
}

h1, h2, h3 {
    font-family: 'Ubuntu', 'Lato' ,sans-serif;
    color: #000000;
}

.botao {
    color: rgb(28, 35, 39);
    text-decoration: none;
    padding: 10px 30px;
    background-color: rgb(13, 241, 241);
    font-weight: bold;
    font-size: .9em;
    border-radius: 5px;
    box-shadow: rgb(28, 165, 165) 1px 1px 5px;
    
}

.botao:hover{
    background-color: rgb(4, 88, 84);
    color: white;
}

nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #040479;
}

nav > a {
    text-decoration: none;
    color: rgb(35, 241, 241);
    font-weight: 800;
    font-size: 32px;
    font-family: 'Ubuntu', 'Lato', sans-serif;
}

nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    padding: 0;
    width: 100%;
}

nav ul li {
    text-align: center;
    width: 100%;
}

nav ul li a {
    display: inline-block;
    padding: 10px 0;
    width: 100%;
    text-decoration: none;
    color: rgb(230, 230, 230);
}

nav .active {
    color: rgb(33, 186, 224);
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../imagens/coronavirusMascara.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: aliceblue;
    text-align: center;
    padding: 20px;
}

header h1{
    color: aliceblue;
}

header p {
    margin-bottom: 2em;
}

#conteudo{
    background: white;
    margin-left: 5%;
    margin-right: 5%;
    padding: 2%;
}

input {
    width: 100%;
  }

input[type=text], input[type=email] {
    width: 70%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }

textarea {
    width: 70%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
  }

input[type=button], input[type=submit], input[type=reset] {
    width: 20%;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
  }

#sobre {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 40px;
    background-color:  #040479;
    color: aliceblue;
}

#sobre h2 {
    color: aliceblue;
}

#sobre p {
    margin-bottom: 2.5em;
    max-width: 1000px;
}

#sobre .botao {
    background-color: #f1f1f1;
    color: #1c1c1c;
}

#botaoSaibamais{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#noticias {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}

#noticias div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 30px;
}

footer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: rgb(179, 179, 179);
    padding: 20px;
    background-color: rgb(41, 41, 41);

}

#rodape {
    margin-left: 20px;
    margin-top: 20px;
    color: #fff;
    padding-bottom: 40px;

}
#dev{
    text-align: center;
    background-color: rgb(32, 32, 32);
}

@media screen and (min-width:768px){
    nav {
        flex-direction: row;
        justify-content: space-around;
    }

    nav ul {
        flex-direction: row;
        width: 70%;
    }
}

header {
    height: 600px;
    height: 60vh;
    justify-content: center;
}

#sobre {
    height: 250px;
    height: 30vh;
    justify-content: center;
    min-height: 250px;
}

#noticias {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    max-width: 1000px;
    margin: 0 auto;
}

#noticias h2 {
    text-align: center;
    width: 100%;
}

#noticias div {
    flex-grow: 1;
    flex-basis: 150px;
    padding: 0 10px;
}
